<include file="Layout:head" />
	<header id="logo" class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-push-2">
				<h1 class="blog-title">My name is ChenYe</h1>
				<h2 class="blog-desc">阳光和煦，一杯咖啡，一台macbook. 一天的好心情。。。</h2>
				<div class="social">
					<a href="http://weibo.com/qianxunj" target="_blank" class="btn btn-outline btn-lg"> <i class="fa fa-weibo"></i>个人微博</a>
					<a href="" class="btn btn-outline btn-lg" target="_blank"> <i class="fa fa-comments"></i>个人微信</a>
					<a href="https://github.com/witFlyer" class="btn btn-outline btn-lg" target="_blank"> <i class="fa fa-github"></i>GitHub</a>
				</div>
			</div>
		</div>
	</header>
	<main class="container" role="main">
		<div class="row">
			<div class="col-sm-8 col-sm-push-1">
				<article class="panel post tag-about-ghost tag-ghost-in-depth tag-zhu-shou-han-shu">
					<header class="panel-heading post-header">
						<h2 class="post-title"><a href="{:U('read')}">禁止 `ghost_foot` 助手输出 jQuery 链接</a></h2>
					</header>
					<section class="panel-footer post-meta">
						<div class="post-tags"><i class="fa fa-tags"></i>
						<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>
						</div>
					</section>
				</article>
				<article class="panel post tag-about-ghost tag-ghost-in-depth tag-zhu-shou-han-shu">
					<header class="panel-heading post-header">
						<h2 class="post-title"><a href="">禁止 `ghost_foot` 助手输出 jQuery 链接</a></h2>
					</header>
					<section class="panel-footer post-meta">
						<div class="post-tags"><i class="fa fa-tags"></i>
						<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>
						</div>
					</section>
				</article>
				<article class="panel post tag-about-ghost tag-ghost-in-depth tag-zhu-shou-han-shu">
					<header class="panel-heading post-header">
						<h2 class="post-title"><a href="">禁止 `ghost_foot` 助手输出 jQuery 链接</a></h2>
					</header>
					<section class="panel-footer post-meta">
						<div class="post-tags"><i class="fa fa-tags"></i>
						<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>
						</div>
					</section>
				</article>
				<article class="panel post tag-about-ghost tag-ghost-in-depth tag-zhu-shou-han-shu">
					<header class="panel-heading post-header">
						<h2 class="post-title"><a href="">禁止 `ghost_foot` 助手输出 jQuery 链接</a></h2>
					</header>
					<section class="panel-footer post-meta">
						<div class="post-tags"><i class="fa fa-tags"></i>
						<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>
						</div>
					</section>
				</article>
				<article class="panel post tag-about-ghost tag-ghost-in-depth tag-zhu-shou-han-shu">
					<header class="panel-heading post-header">
						<h2 class="post-title"><a href="">禁止 `ghost_foot` 助手输出 jQuery 链接</a></h2>
					</header>
					<section class="panel-footer post-meta">
						<div class="post-tags"><i class="fa fa-tags"></i>
						<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>
						</div>
					</section>
				</article>
				<article class="panel post tag-about-ghost tag-ghost-in-depth tag-zhu-shou-han-shu">
					<header class="panel-heading post-header">
						<h2 class="post-title"><a href="">禁止 `ghost_foot` 助手输出 jQuery 链接</a></h2>
					</header>
					<section class="panel-footer post-meta">
						<div class="post-tags"><i class="fa fa-tags"></i>
						<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>、<a href="">深度玩转 Ghost</a>
						</div>
					</section>
				</article>
			</div>
			<div class="col-sm-2 col-sm-push-1">
				<div class="list-group tag-sidebar">
					<a href="" class="tag-item">Ghost <span class="post-count">45</span></a>
					<a href="" class="tag-item">Ghost <span class="post-count">45</span></a>
					<a href="" class="tag-item">Ghost <span class="post-count">45</span></a>
					<a href="" class="tag-item">Ghost <span class="post-count">45</span></a>
					<a href="" class="tag-item">Ghost <span class="post-count">45</span></a>
					<a href="" class="tag-item">Ghost <span class="post-count">45</span></a>
					<a href="" class="tag-item">Ghost <span class="post-count">45</span></a>
					<a href="" class="tag-item">Ghost <span class="post-count">45</span></a>
					<a href="" class="tag-item">Ghost <span class="post-count">45</span></a>
					<a href="" class="tag-item">Ghost <span class="post-count">45</span></a>
				</div>
				<div class="list-group ad-sidebar"></div>
			</div>
		</div>
		<div class="page-pagination"></div>
	</main>
<include file="Layout:footer" />