<include file="Layout:head" />
	<main id="post-page" class="container" role="main">
		<div class="row">
			<div class="col-md-10 col-md-push-1">
				<article class="panel post tag-about-ghost tag-ghost-in-depth tag-zhu-shou-han-shu">
					<header class="panel-heading post-header">
						<h1 class="post-title"><span id="title-hover">{$result.name}</span></h1>
					</header>
					<section class="panel-body post-content">
						<?php echo  htmlspecialchars_decode($result['content']) ?>
					</section>
				</article>
				<nav class="row nav-posts">
					<div class="col-md-6">前一篇：<a href="">为博客增加“标签云”</a></div>
					<div class="col-md-6 text-right pull-right">后一篇：<a href="">为博客增加“标签云”</a>
					</div>
				</nav>
			</div>
		</div>
	</main>
<include file="Layout:footer" />
</body>
</html>