<include file="Layout:head" />
	<header id="logo" class="container">
		<div  id="weixin_logo"><img src="__PUBLIC__/img/weixin.png" alt="" width="170px" height="170px"/></div>
		<div class="row">
			<div class="col-lg-8 col-lg-push-2">
				<h1 class="blog-title">My name is ChenYe</h1>
				<h2 class="blog-desc">阳光和煦，一杯咖啡，一台macbook. 开始一天的好心情。。。</h2>
				<div class="social">
					<a href="http://weibo.com/qianxunj" target="_blank" class="btn btn-outline btn-lg"> <i class="fa fa-weibo"></i>个人微博</a>
					<a href="javascript:void(0)" class="btn btn-outline btn-lg" id="weixin"> <i class="fa fa-comments"></i>个人微信</a>
					<a href="https://github.com/witFlyer" class="btn btn-outline btn-lg" target="_blank"> <i class="fa fa-github"></i>GitHub</a>
				</div>
			</div>
		</div>
	</header>
	<main class="container" role="main">
		<div class="row">
			<div class="col-sm-8 col-sm-push-1">
				<header class="panel post tag-about-ghost tag-ghost-in-depth tag-zhu-shou-han-shu">
					<h2 class="post-title" style="color: #D3682F;text-align: center;">标签:{$tag_name}</h2>
					<p style="color: #999;text-align: center;">共 {$count} 篇文章</p>
				</header>
				<foreach name="article_list" item="vo">
				<article class="panel post tag-about-ghost tag-ghost-in-depth tag-zhu-shou-han-shu">
					<header class="panel-heading post-header">
						<h2 class="post-title"><a href="{:U('read','id='.$vo['id'])}" target="_blank">{$vo.name}</a></h2>
					</header>
					<section class="panel-footer post-meta">
						<div class="post-tags"><i class="fa fa-tags"></i>
							<span>{$vo.keywords}</span>
						</div>
					</section>
				</article>
				</foreach>
			</div>
			<div class="col-sm-2 col-sm-push-1">
				<div class="list-group tag-sidebar">
					<foreach name='tag_list' item='v'>
						<a href="{:U('tag_article','tag_id='.$v['id'])}" class="tag-item">{$v.name} <span class="post-count">{$v.count}</span></a>
					</foreach>
				</div>
				<div class="list-group ad-sidebar"></div>
			</div>
		</div>
		<div class="page-pagination"></div>
	</main>
<include file="Layout:footer" />