	<footer class="container">
		<div class="row">
			<div id="footer-content">
				<section class="clearfix">
					<div class="col-md-6">
						<h3>合作站点：</h3>
						<dl>
							<dd><a href="">Bootstrap中文网</a></dd>
							<dd><a href="">Bootstrap中文网</a></dd>
							<dd><a href="">Bootstrap中文网</a></dd>
						</dl>
					</div>
					<div class="col-md-6">
						<h3>联系方式：</h3>
						<p class="footer-phone"><i class="fa fa-qq"></i>1263057565</p>
						<p class="footer-email"><i class="fa fa-envelope"></i>1263057565@qq.com</p>
					</div>
				</section>
				<section class="clearfix">
					<div class="col-md-6">
						<h3>合作伙伴：</h3>
						<dl>
							<dd><a href="">Bootstrap中文网</a></dd>
							<dd><a href="">Bootstrap中文网</a></dd>
							<dd><a href="">Bootstrap中文网</a></dd>
						</dl>
					</div>
					<div class="col-md-6">
						<h3>参与公司：</h3>
						<dl>
							<dd><a href="">Bootstrap中文网</a></dd>
							<dd><a href="">Bootstrap中文网</a></dd>
							<dd><a href="">Bootstrap中文网</a></dd>
						</dl>
					</div>
				</section>
			</div>
			<div id="social-icons" class="col-xs-12">
				<a href="" class="icon-gplus" target="_blank"><i class="fa fa-weibo fa-2x"></i>新浪微博</a>
			</div>
			<div id="copyrights" class="col-xs-12">
				<section class="copyright">All content copyright <a href="">Ghost 中文网</a> © 2015 • All rights reserved.</section>
				<section class="poweredby">All content copyright <a href="">陈业</a> © 2015 • All rights reserved.</section>
				<section class="beian"><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a> | 京公网安备11010802014853</section>
			</div>
		</div>
	</footer>
</body>
</html>